<h1>Welcome <%=@user.name%>!</h1>
<h3>You're activitely pursuing <%=user_habits.count%> habits.</h3>

<% if false %>
<%@user.habits.each do |habit| %>
  <%= habit.completed_activity_name%>
<% end %>
<% end %>

<%= button_to "My Habits", "#", {id: "habits-data", data: {user_id: current_user.id}} %>

<h2><%= link_to "My Habits", user_habits_path(current_user) %></h2>
<h2><%= link_to "Create A New Habit", new_user_habit_path(current_user) %></h2>
