<h2><%=@habit.name%></h2>
<h3>Category: </h3><%=@habit.category%>
<h3>Goal: </h3><%=@habit.goal%>
<br>

<br>
<%= link_to "Activities Quick View", "#", {id: "activities-data", data: {habit_id: @habit.id}} %>
<br>

<div id="list-activities">

</div>

<div class="links">
  <h2><%= link_to "View Activity", habit_activities_path(@habit)  %></h2>
  <h2><%= link_to "Add Activity", new_habit_activity_path(@habit)  %></h2>
  <h2><%= link_to "Edit Habit", edit_user_habit_path(@habit)  %></h2>
  <h2><%= link_to "Delete Habit", user_habit_path(@habit) , method: :delete, data: { confirm: 'Are you sure?' } %></h2>

</div>
